@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  body{
    @apply 
  }
} */

body{
  background: #fff;
  font-family: 'Roboto', sans-serif;
}
.image_hero{
  border-radius: 2rem;
  height: 500px !important;
}